<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="endpoint" value="https://mytrippw.documents.azure.com:443/" />
    <add key="MandrillApiKey" value="9rYhW-cQVE5oGTghx8nj9g" />
    <add key="PassResetFormUri" value="http://mytrippwapp.azurewebsites.net/mytripclient/app/index.html#/resetPassword/newPassword" />
    <add key="authKey" value="ny5pOXsyCMYbgxvvwNX4MCyIdqwcJttWZtSqVDINvUhfy/N7n7kx46avRGJOi8P95E3tpCQSxqZcfPT4OjSs3w==" />
    <add key="BlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=filmsphotos;AccountKey=w8Z76KEhH6ptzmE8Bnfbg06zehbaz149rauchZtC2VH/gVvRIr29IbJVmjzMXUONtICUkJYwpmoe8xRDSbdHjA==" />
    <add key="QueueConnectionString" value="DefaultEndpointsProtocol=https;AccountName=trassconvertqueue;AccountKey=rKT+JOudwtWVUKELuzxMdNMmAU7SlqMfTQ4H6MaE3dMYhb4WiXIyMtA4oka62E8hkc1X0sdIQXMNWX0XSO5ATw==" />
  </appSettings>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>